{% extends "base.html" %}
{% block content %}

<style>
.expert {
  border: 1px solid lightgray;
  padding: 0.4rem;
  margin: 0.2 rem;
  border-radius: 1rem;
  font-size: 0.8rem;
  color: gray;
}
</style>

<div class="profile">
    <h2>What's Happening?</h2>
    <form id="form" method="POST" action="{% url 'status_page:add_message' %}">
        {% csrf_token %}
    <div class="writeStatusContainer">{{status_form}}</div>
        <button class="postButton" type="submit" >Post</button>
        <br>
    </form>
    {% if status %}
        {% for data in status %}
            <div class="statusContainer">
                <span class="date">{{data.created_date|date:"d M Y G:i:s"}}</span>
                <span>{{data.message}}</span>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
