{% extends "base.html" %}

{% block content %}
<div class="panel panel-info">
    <div align="center" class="panel-body">
        <div style="margin:20px; padding:20px; background-color:lightsteelblue; border-radius:3px;">
				<input type="text" class="form-control" id="judul" onkeyup="myFunction()" placeholder="Search"><br>
				<input type="radio" name="tombol" value="0" ><font color="darkblue"> NPM</font><br>
				<input type="radio" name="tombol" value="1" ><font color="darkblue"> Nama</font><br>
				<input type="radio" name="tombol" value="2"><font color="darkblue"> Angkatan</font><br>
				<input type="radio" name="tombol" value="3"><font color="darkblue"> Keahlian</font><br>
				<!-- <input type="radio" name="tombol" value="4"> Level<br> -->
        </div>
        <hr>
        <div class="table table-responsive" style="margin:10px; padding:10px; background-color:lightblue; border-radius:3px;">
            <table class="table table-hover" id="myTable" style="width:100%;">
                <tr>
                <th><ins><font color="gray">NPM</font></ins></th>
                <th><ins><font color="gray">Nama</font><ins></th>
                <th><ins><font color="gray">Angkatan</font><ins></th>
                <th><ins><font color="gray">Keahlian</font><ins></th>
				</tr>
			{% for skill,user in keahlianPengguna %}
				<tr>
				<td style="text-align: center">{{user.npm}}</td>
				<td style="text-align: center">{{user.nama}}</td>
				<td style="text-align: center">20{{user.npm.0}}{{user.npm.1}}</td>
				<td style="text-align: center">{{skill}}</td>
				</tr>
			{% endfor %}
            </table>
        </div>		
    </div>
</div>

<script>
function myFunction() {
  // Declare variables 
  var input, filter, table, tr, td, i, type;
  input = document.getElementById("judul");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  type = document.querySelector('input[name="tombol"]:checked').value;
  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[type];
    console.log(td);
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    } 
  }
}	
</script>
{% endblock %}
