{% extends "basic.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
<div class="profile">
  <div class="profilePic">
    <img class="photo" src="{{ user.foto }}">
  </div>
  <script type="in/Login"></script>
  <div class="containerContent">
    <div class="content">
      <p><b>Nama: </b><span id="fullName">{{ user.nama }}</span></p>
      <p><b>NPM: </b>{{ user.npm }}</p>
      <p><b>Keahlian: </b>{% for ii in split_expertise %} <span class="expert">{{ ii }}</span> {% endfor %}</p>
      <p><b>Email: </b>{{ user.email }}</p>
      <p><b>Profile LinkedIn: </b><span id="profileUrl"><a href="{{ user.url_linkedin }}">{{ user.url_linkedin }}</a></span></p>
      <form action="{% url 'profile:edit-profile-local' %}" method="POST">
          {% csrf_token %}
          <p><b>Tunjukkan Nilai: </b>
            Ya <input type="radio" name="show_score" value="True" {% if user.show_score == True %} checked{% endif %}>
            Tidak <input type="radio" name="show_score" value="False" {% if user.show_score == False %} checked{% endif %}>
          </p>
        <div class="appendSkill">
        {% if skill %}
          {% for s in skill %}
          <div class="skillChooserContainer">
            <div>
              <h2>Keahlian</h2>
              <select name="skill">
                <option value="ja" {% if s.keahlian == 'ja' %} selected{% endif %}>Java</option>
                <option value="py" {% if s.keahlian == 'py' %} selected{% endif %}>Python</option>
                <option value="c" {% if s.keahlian == 'c' %} selected{% endif %}>C#</option>
                <option value="ko" {% if s.keahlian == 'ko' %} selected{% endif %}>Kotlin</option>
              </select>
            </div>
            <div>
              <h2>Level</h2>
              <select name="level">
                <option value="be" {% if s.level == 'be' %} selected{% endif %}>Beginner</option>
                <option value="in" {% if s.level == 'in' %} selected{% endif %}>Intermediate</option>
                <option value="ex" {% if s.level == 'ex' %} selected{% endif %}>Expert</option>
                <option value="le" {% if s.level == 'le' %} selected{% endif %}>Legend</option>
              </select>
            </div>
            <div>
              <a href="{% url 'profile:delete-skill' s.keahlian %}"><div style="margin-top:2em;border-radius:50%;font-family: 'Open Sans';color:red;border: 1px solid red;">X</div></a>
            </div>
          </div>
          {% endfor %}
        {% endif %}
        </div>
        <button onclick="addSkill()">Add Skill</button>
        <div class="editProfileButtonContainer">
          <input type="submit" class="editProfileButton">
            <a onclick="logOutFromLinkedin();" class="editProfileButton">Logout</a>
        </div>
      </form>
    </div>
  </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous">
</script> 
<script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key: 816fkc7lpz0883
    onLoad: onLinkedInLoad
    authorize: true
    lang: 
</script>
<script type="text/javascript">
    // Setup an event listener to make an API call once auth is complete
    function onLinkedInLoad() {
        IN.Event.on(IN, "auth", getProfileData);
    }

    // Handle the successful return from the API call
    function onSuccess(data) {
        console.log(data);
        const fullName = data.firstName+" "+data.lastName;
        const profileUrl = data.publicProfileUrl;
        updateProfile(data);
    }

    function updateProfile(data) {
      $.ajax({
        method : 'POST',
        url : "{% url 'profile:update-profile' %}",
        data : {
          'full_name' : data.firstName+" "+data.lastName,
          'url_linkedin': data.publicProfileUrl,
          'picture_url': data.pictureUrl,
          'email': data.emailAddress,
          'headline': data.headline,
        },
        dataType : 'json',
        success : function(response) {
          window.location = '/profile';
        },
        error : function(error) {
          console.log(error);
        }
      });
    }

    // Handle an error response from the API call
    function onError(error) {
        console.log(error);
    }

    // Use the API call wrapper to request the member's basic profile data
    function getProfileData() {
        IN.API.Raw("/people/~:(first-name,last-name,headline,email-address,picture-url,public-profile-url)").result(onSuccess).error(onError);
    }

    function logOutFromLinkedin() {
      IN.User.logout(logOut);
    }

    function logOut() {
      $.ajax({
        method : 'POST',
        url : "{% url 'user_auth:auth_logout' %}",
        success : function(response) {
          window.location.reload();
        },
        error : function(error) {
          console.log(error);
        }
      });
    }

    function addSkill() {
      html = '<div class="skillChooserContainer"><div><h2>Keahlian</h2><select name="skill"><option value="ja">Java</option><option value="py">Python</option><option value="c">C#</option><option value="ko">Kotlin</option></select></div><div><h2>Level</h2><select name="level"><option value="be">Beginner</option><option value="in">Intermediate</option><option value="ex">Expert</option><option value="le">Legend</option></select></div></div></div>'
      $('.appendSkill').append(html);   
      event.preventDefault()
    }
   
</script>
{% endblock %}