{% extends "base.html" %}
{% block content %}

<style>
.expert {
  border: 1px solid lightgray;
  padding: 0.4rem;
  margin: 0.2 rem;
  border-radius: 1rem;
  font-size: 0.8rem;
  color: gray;
}
</style>

<div class="profile">
  <p><b>Nama: </b>{{ user.nama }}</p>
  <p><b>NPM: </b>{{ user.npm }}</p>
  <p><b>Keahlian: </b>{% for ii in split_expertise %} <span class="expert">{{ ii }}</span> {% endfor %}</p>
  <p><b>Email: </b>{{ user.email }}</p>
  <p><b>Profile LinkedIn: </b>{{ user.url_linkedin}}</p>
</div>
{% endblock %}
