body {
  margin: 0;;
  display: flex;
  flex-direction: row;
  background: #fafafa;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0.5rem 0;
}

input {
  padding:0.5rem 0.5rem;
}

button {
  border: none;
}

.linkedinButton {
  height: 2rem;
}

.linkToProfile {
  color: #9469a5;
  font-weight: 700;
}

.mainContainer {
  width: 100%;
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gradientHeader {
  width: 100%;
  height: 40rem;
  background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 100%);
  position: absolute;
  z-index: -1;
}

.container {
  width: 75%;
  min-height: 90vh;
  background: #fafafa;
  display: flex;
  flex-direction: column;
}

.container .containerHeader {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
}

.headerSection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.editProfile {
  justify-content: flex-end;
}

.headerPhoto {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
}

.containerDescription {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerDescription h1 {
  margin: 0.2rem;
  font-weight: 700;
  font-size: 1.5rem;
}

.containerDescription h2 {
  margin: 0.2rem;
  font-weight: 500;
  font-size: 1rem;
}

.containerDescription h3 {
  margin: 0.2rem;
  font-weight: 700;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
}

.containerStatus {
  margin: 1rem 0;
  width: 20rem;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #9469a5;
  border-radius: 0.5rem;
}

.menuSelector {
  width: 100%;
  padding: 1rem;
  displayL: flex;
  align-items: center;
  justify-content: flex-start;
}

.editProfileButton {
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  color: #9469a5;
  background: #fafafa;
  cursor: pointer;
  border: none;
}

.editProfileButton:hover, .menuSelected {
  color: #fafafa;
  background: #9469a5;
}

.containerContent {
  min-width: 40rem;
  max-width: 100%;
  border: 1px solid #9469a5;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
}


.navigationBar {
  width: 80%;
  height: 4rem;
  margin: 0 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.hamburgerIcon {
  display: none;
}

.navigationBar .logo {
  font-size: 2rem;
  font-weight: 300;
}

.navigationBar .navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-weight: 600;
}

.navigation a {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  transition: background 0.5s, color 0.5s;
}

.navigation a:hover, .navigation .active {
  background: #fafafa;
  border-radius: 2rem;
  color: #9469a5;
  transition: background 0.5s, color 0.5s;
}

.mobileNavigationShow, .mobileNavigation {
  display: none;
}

.container {
  width: 80%;
  display: flex;
  min-height: 80vh;
  box-shadow: 0 6px 15px rgba(36,37,38,0.08);
  border-radius: 1rem;
}

.profile {
  max-width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.status {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:;
  font-family: 'Open Sans', sans-serif;
}

.status h2 {
  font-weight: 300;
}

.postButton {
  padding: 0.3rem 1.8rem;
  border-radius: 2rem;
  font-weight: 300;
  font-size: 1rem;
  border: none;
  color: #fff;
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.5s;
  background-size: 200% auto;
  background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
}

.postButton:hover {
  background-position: right center;
}

.profile .photo {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
}

.profile h1 {
  margin: 0.2rem 0;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
}

.profile h2 {
  font-weight: 300;
  font-size: 1.2rem;
  margin: 0.2rem 0;
}

.profile h2 b {
  font-weight: 600;
}

.friend {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
  margin: 1em;
}
.friend a {
  text-decoration: underline;
  color:blue;
}
.friend hr {
  border-color: #D3D3D3;
}
.friend h1 {
  text-align: center;
  font-weight: 300;
}

.addFriend {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.addFriend form {
  display: flex;
  font-size: 1.5em;
  flex-direction: row;
  margin:2em 0;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
}
.addFriend form input {
  margin: 0 1em 0 2em;
  border: 1px solid #D3D3D3;
  flex-basis: 20%;
  border-radius: 0.3em;
  font-family: 'Open Sans',sans-serif;
}
.addFriend label {
  margin-right: 1em;
  font-size: 1rem;
}

.submitFriend {
  padding:0.3rem 1.5rem;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  font-weight: 100;
  border-radius: 2rem;
  cursor: pointer;
  color: white;
  background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
 }

.alertNoFriend {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 600;
}

.submitFriend:hover {
 background-position: right center; /* change the direction of the change here */
}

.friend .listFriend table{
  border-collapse: collapse;
  width: 100%;
}

.friend th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.friend tr:nth-child(even){background-color: #f2f2f2}
.friend tr:hover{background-color:#C5CAE9}

.statusContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  background: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 6px 15px rgba(36,37,38,0.08);
}

.statusContainer .date {
  color: #9469a5;
  font-size: 0.7rem;
}

.writeStatusContainer textarea {
  width: 100%;
  max-height: 3rem;
}

.skillChooserContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.skillChooserContainer div {
  margin: 0 1rem 0 0;
}

.editProfileButtonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0;
}

@media screen and (max-width: 64em) {

  button {
    width: 100%;
  }

  .postButton {
    padding: 0.5rem 0;
  }

  .mainContainer {
    padding: 6rem 1.5rem;
  }

  .gradientHeader {
    display: none;
  }

  .navigationBar {
    width: 100%;
    height: 4rem;
    padding: 0.5rem 0;
    background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    justify-content: space-between;
  }

  .navigationBar .logo {
    font-size: 1.2rem;
    margin: 0 1rem;
  }

  .hamburgerIcon {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 1rem;
  }

  .hamburgerIcon .hamburgerIconTop {
    width: 2rem;
    height: 0.2rem;
    background: #fff;
    margin: 0.5rem 0;
    transform: rotate(0deg);
    transition: transform 1s;
  }

  .hamburgerIcon .hamburgerIconBottom {
    width: 2rem;
    height: 0.2rem;
    background: #fff;
    margin: 0.5rem 0;
    transform: rotate(0deg);
    transition: transform 1s;
  }

  .hamburgerIconAfter {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 1rem;
  }

  .hamburgerIconAfter .hamburgerIconTop {
    width: 2rem;
    height: 0.2rem;
    background: #fff;
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    margin: 0;
    transition: transform 1s;
  }

  .hamburgerIconAfter .hamburgerIconBottom {
    width: 2rem;
    height: 0.2rem;
    background: #fff;
    transform: rotate(-45deg);
    position: absolute;
    top: 0;
    margin: 0;
    transition: transform 1s;
  }

  .navigationBar .navigation {
    display: none;
  }

  .mobileNavigation {
    width: 15rem;
    height: 100vh;
    position: fixed;
    z-index: 2;
    background: #fff;
    left: -15rem;
    display: flex;
    transition: left 0.5s ease-out;
  }

  .mobileNavigationShow {
    display: flex;
    width: 15rem;
    height: 100vh;
    position: fixed;
    z-index: 2;
    background: #fff;
    left: 0;
    transition: left 0.5s ease-out;
    padding: 6rem 1rem;
    flex-direction: column;
  }

  .mobileNavigationShow a {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 1rem 0;
    border-bottom: 1px solid lightgray;
    color: #9469a5;
  }

  .container {
    width: 100%;
  }

  .addFriend form {
    flex-flow: column;
    text-align: center;
    justify-content: space-around;
  }
  .addFriend form input {
    margin : 1em 0.5em;
    width: 30em;
    height: 3em;
    font-size: 0.9em;
  }
}
