{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Linken's Sphere</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <script src="https://use.fontawesome.com/78a1390031.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>
    <style>
      .footer {
        margin: 1rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
      }
    </style>
</head>
<body>
  <div class="gradientHeader"></div>
  <div class="mobileNavigation" id="mobileNavigation">
    <a href="/profile">Profile</a>
  </div>
  <div class="mainContainer">
    <div class="navigationBar">
      <div class="hamburgerIcon" id="hamburgerIcon" onclick="toggleIcon()">
        <div class="hamburgerIconTop"></div>
        <div class="hamburgerIconBottom"></div>
      </div>
      <div class="logo">LINKEN'S SPHERE</div>
      <div class="navigation">
        <a href="/profile">Profile</a>
      </div>
    </div>
    <div class="container">
      <div class="containerHeader">
        <div class="headerSection">
        </div>
        <div class="headerSection">
          <img class="headerPhoto" src="{{ user.foto }}"/>
        </div>
        <div class="headerSection editProfile">
          <a href="/profile/edit" class="editProfileButton">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            EDIT
          </a>
        </div>
      </div>
      <div class="containerDescription">
        <h1>{{ user.nama }}</h1>
        <h2>{{ user.headline }}</h2>
        <div class="containerStatus">
          <span><h3>Status Count: {{ status_count }}</h3> </span>
          <span><h3>Current Status: {{ latest_status.message }}</h3></span>
       </div>
      </div>
      <div class="menuSelector">
        <button class="editProfileButton {% if menuSelected == 'profile' %} menuSelected{% endif %}"><a href="/profile"> Profile</a></button>
        <button class="editProfileButton {% if menuSelected == 'riwayat' %} menuSelected{% endif %}"><a href="/riwayat">Riwayat</a></button>
        <button class="editProfileButton {% if menuSelected == 'status' %} menuSelected{% endif %}"><a href="/profile/status">Status</a></button>
		<button class="editProfileButton {% if menuSelected == 'teman' %} menuSelected{% endif %}"><a href="/profile/teman">Teman</a></button>
      </div>
      <div class="containerContent">
        {% block content %}
        {% endblock %}
      </div>
    </div>
    <div class="footer">&copy; Made with love by: Irene, Atalya, Kevin, Yogi</div>
  </div>
<script>
  function toggleIcon() {
    if (document.getElementById("hamburgerIcon").className === "hamburgerIcon") {
      document.getElementById("hamburgerIcon").className = "hamburgerIconAfter";
      document.getElementById("mobileNavigation").className = "mobileNavigationShow";
    } else {
      document.getElementById("hamburgerIcon").className = "hamburgerIcon";
      document.getElementById("mobileNavigation").className = "mobileNavigation";
    }
  }
</script>
</body>
</html>
