{% extends "base.html" %}
{% block content %}
<div class="panel-body">
      <table class="table">
          <thead>
          <th> No </th>
          <th> Nama Mata Kuliah </th>
          <th> Nilai </th>
          </thead>

          <tbody>
          {% for sub in matkul %}
          <tr>
              <td> {{ forloop.counter }}</td>
              <td> {{ sub.kelas.nm_mk_cl.nm_mk }}</td>


              <td>
                {% if show_nilai %}
                    {{ sub.nilai }}
                {% else %}
                    Dirahasiakan
                {% endif %}
              </td>

          </tr>
          {% endfor %}
          </tbody>
      </table>
  </div>
{% endblock %}
