{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
	<title>Login Your Account</title>
</head>
<body>
	<div class="wrap">
		<p>Login With Your SSO Account</p>
		<div class="avatar">
      		<img src="http://2.bp.blogspot.com/-A79MAddtuVU/T9DqAvdtCcI/AAAAAAAAA6o/laGYTOxIIZM/s1600/fasilkom.png" alt="logo Fasilkom">
		</div>
		<form action="{% url 'user_auth:auth_login' %}" method="POST">
			{% csrf_token %}
			<input type="text" name="username" placeholder="Username" required>
			<div class="bar">
				<i></i>
			</div>
			<input type="password" name="password" placeholder="Password" requireds>
			<input type="submit" name="login" class="login login-submit" value="Login" required>
		</form>
	 	{% for message in messages %}
        <div class="alert {{ message.tags }}" role="alert" id="django-messages">
            {{ message }}	
        </div>
        {% endfor %}
	</div>

</body>
</html>